.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
:root{
    --colorSedan : hsl(31, 77%, 52%);
    --colorSuv : hsl(184, 100%, 22%);
    --colorLuxury : hsl(179, 100%, 13%);
    --blancoParrafos : hsla(0, 0%, 100%, 0.75);
    --grisMuyClaro : hsl(0, 0%, 95%);
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8vw;
    margin-bottom: 8vw;
    margin-left: 10vw;
    margin-right: 10vw;
    
}

#contenedorSedan{
    background-color: var(--colorSedan);
    color: var(--colorSedan);
    border-radius: 10px 0px 0px 10px;
}

#contenedorSuvs{
    background-color: var(--colorSuv);
    color: var(--colorSuv);
}

#contenedorLuxury{
    background-color: var(--colorLuxury);
    color: var(--colorLuxury);
    border-radius: 0px 10px 10px 0px;
}

.contenedorElementosDescripcion{
    margin: 2em;
    background-color: inherit;
}

.botonLearn{
    display: inline-block;
    color: inherit;
    padding: 10px 15px;
    background-color: var(--grisMuyClaro);
    border: 1px solid var(--grisMuyClaro);
    border-radius: 25px;
}

.botonLearn:hover{
    background-color: inherit;
    color: var(--grisMuyClaro);
    border: 1px solid var(--grisMuyClaro);
}

.titulo{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    color: var(--grisMuyClaro);
}

.descripcion{
    height: 100px;
    width: 240px;
    font-size: 15px;
    padding-bottom: 25px;
    color: var(--blancoParrafos);
}

.contenedorAuto{
    width: 300px;
    display: flex;
    flex-direction: column;
    height: auto;
}

.imagen{
    margin-top: 50px;
    margin-left: 50px;
    
}

@media (max-width: 900px) {
    
    body{
        position: relative;
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .contenedor{
        
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5vw auto;
    }
    #contenedorSedan{
    border-radius: 10px 10px 0px 0px;
    }
    #contenedorLuxury{
    border-radius: 0px 0px 10px 10px;
    }
}